@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: "Amatic SC", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 1.2s;
}

.affirmation {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.affirmation-text {
  width: 95%;
  color: #fff;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  animation: fadeIn 1.2s;
}

.affirmation-text::first-letter {
  text-transform: uppercase;
}

iframe {
  position: absolute;
  right: 5%;
  bottom: 5%;
  animation: moveIn 1s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveIn {
  0% {
    bottom: -5%;
  }
  100% {
    bottom: 5%;
  }
}

@media only screen and (max-width: 600px) {
  iframe {
    width: 50%;
    height: 15%;
    bottom: 10%;
    animation: moveInMobile 1s ease;
  }

  .affirmation-text {
    font-size: 3rem;
  }

  @keyframes moveInMobile {
    0% {
      bottom: -5%;
    }
    100% {
      bottom: 10%;
    }
  }
}
